header {
  display: block;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #e3dac0;
}

content {
  display: block;
  margin-left: 60px;
}

.mock-data {
  width: 200%;
  height: 2000px;
}

.mode-selector h2 {
  display: inline;
  cursor: pointer;
  margin-top: 10px;
}

.mode-selector h2:first-child {
  float: left; 
  margin-left: 180px;
}

.mode-selector h2:last-child {
  float: right; 
  margin-right: 180px;
}

.mode-selector h2.selected {
  color: darkblue;
  border-bottom: 3px solid darkblue;
}

ul.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  width: 50px;
}

ul.sidebar li {
  text-align: center;
  font-size: 16pt;
  padding: 3px;
  cursor: pointer;
}
ul.sidebar li.spacer {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}