header {
  display: block;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #e3dac0;
}

content {
  display: block;
  margin-left: 40px;
}

.mock-data {
  width: 200%;
  height: 2000px;
}

.mode-selector h2 {
  display: inline;
  cursor: pointer;
  margin-top: 10px;
}

.mode-selector h2:first-child {
  float: left; 
  margin-left: 180px;
}

.mode-selector h2:last-child {
  float: right; 
  margin-right: 180px;
}

.mode-selector h2.selected {
  color: darkblue;
  border-bottom: 3px solid darkblue;
}

ul.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: grey;
  margin: 0;
  padding: 0;
  width: 30px;
}