header {
  display: block;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #e3dac0;
}

content {
  display: block;
  margin-left: 75px;
  padding: 5px;
}

.mock-data {
  width: 200%;
  height: 2000px;
}

ul.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #3e4550;
  margin: 0;
  padding: 0;
  width: 75px;
}

ul.sidebar li {
  text-align: center;
  font-size: 18pt;
  padding: 7px 5px;
  cursor: pointer;
  color: #fff;
  border-right: 5px solid transparent;
  text-shadow: 1px 1px 1px #000;
}
ul.sidebar li.active {
  border-right-color: #52b6ff;
  color: #52b6ff;
}
ul.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
ul.sidebar li.spacer {
  margin-top: 1px;
  margin-bottom: 1px;
  height: 1px;
  padding: 0px;
  background-color: #6c6c6c;
}

ul.sidebar li .description {
  font-size: 10pt;
}

.dataset-table th, .dataset-table td {
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-collapse: collapse;
  padding: 3px;
  min-width: 35px;
}
.dataset-table .unused-cell {
  border: 1px solid rgba(50, 50, 50, 0.2);
}

.dataset-table tr td {
  min-height: 25px;
}
.dataset-table .new-row td {
  cursor: pointer;
  text-align: center;
}
.dataset-table .new-column {
  min-width: 35px;
  text-align: center;
}

.dataset-table thead th {
  text-align: center;
}