<!DOCTYPE HTML>
<html ng-app="TemplateFillerApp">
<head>
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  
  <script src="lib/jquery-2.1.0.min.js"></script>
  <script src="lib/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>

  <title></title>
</head>

<body ng-controller="mainController">
  <ul class="sidebar">
    <li>O</li>
    <li>S</li>
    <li ng-click="switchPage()">D</li>
    <li ng-click="switchPage()">T</li>
    <li ng-click="switchPage()">G</li>
  </ul>
  
  <content>
    <div class="mock-data">data</div>
  </content>
</body>
</html>