<!DOCTYPE HTML>
<html ng-app="TemplateFillerApp">
<head>
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  
  <script src="lib/jquery-2.1.0.min.js"></script>
  <script src="lib/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>

  <title></title>
</head>

<body ng-controller="MainController">
  <ul class="sidebar">
    <li>
      <span class="glyphicon glyphicon-folder-open"></span>
    </li>
    <li>
      <span class="glyphicon glyphicon-floppy-disk"></span>
    </li>

    <li class="spacer"></li>

    <li ng-click="switchPage('PageDataset')">
      <span class="glyphicon glyphicon-list-alt"></span>
    </li>
    <li ng-click="switchPage('PageTemplate')">
      <span class="glyphicon glyphicon-eye-open"></span>
    </li>

    <li class="spacer"></li>

    <li ng-click="switchPage('PageResult')">
      <span class="glyphicon glyphicon-print"></span>
    </li>
  </ul>
  
  <content ng-include="getPageUrl()">
    <div class="mock-data">data</div>
  </content>
</body>
</html>