<!DOCTYPE HTML>
<html ng-app="TemplateFillerApp">
<head>
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  
  <script src="lib/jquery-2.1.0.min.js"></script>
  <script src="lib/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>

  <title>Template Filler</title>
</head>

<body ng-controller="MainController">
  <ul class="sidebar">
    <li ng-click="switchPage('PageLastOpened')" ng-class="{ active: currentlyOnPage('PageLastOpened') }" class="switcher">
      <span class="glyphicon glyphicon-folder-open"></span>
      <div class="description">Open</div>
    </li>
    <li>
      <span class="glyphicon glyphicon-floppy-disk"></span>
      <div class="description">Save</div>
    </li>

    <li class="spacer"></li>

    <li ng-click="switchPage('PageDataset')" ng-class="{ active: currentlyOnPage('PageDataset') }" class="switcher">
      <span class="glyphicon glyphicon-list-alt"></span>
      <div class="description">Data</div>
    </li>
    <li ng-click="switchPage('PageTemplate')" ng-class="{ active: currentlyOnPage('PageTemplate') }" class="switcher">
      <span class="glyphicon glyphicon-eye-open"></span>
      <div class="description">Template</div>
    </li>

    <li class="spacer"></li>

    <li ng-click="switchPage('PagePrint')" ng-class="{ active: currentlyOnPage('PagePrint') }" class="switcher">
      <span class="glyphicon glyphicon-print"></span>
      <div class="description">Print</div>
    </li>
  </ul>
  
  <content ng-include="getPageUrl()"></content>
</body>
  
<!-- DEBUG -->
<script>
  var watcher = require('chokidar').watch('.');
  
  watcher.on('change', function(event, path) {
    watcher.close();
    location.reload();
  });
</script>
<!-- /DEBUG -->
  
</html>